.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 1px rgba(185, 185, 185, 0.2);
  margin: 0;
}

.nav-bar {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 65px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 5px;
}